body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

p{
    margin: 0px;
    padding: 0;
}

.menulinks {
    float: right; 
    margin: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}
.menulinkitem {
    margin: 0px;
    
    padding-right: 1rem;
}
.menulinktext {
    margin: 0px;
    color: black;
}

.container{
    margin: 0px;
    padding: 0;
    width: 100vw;
    height: 50px;
    background: rgb(235,235,235);
}

