@import '../../src/global.css';

html,body{
  height: 100%;
}

p{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Metropolis;
  font-weight: normal; 
  /* overflow-x: hidden;  */
}

hr{
  /* margin: 0px; */
  height: 3px;
  background-color: var(--green700);
}

h1{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 25px;
  font-family: Metropolis;
  font-weight: bold;
  color: var(--green700);
}

h2{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 22px;
  font-family: Metropolis;
  font-weight: bold;
  color: var(--seafoam400);
}

h3{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 18px;
  font-family: Metropolis;
  font-weight: bold;
  color: var(--seafoam600);
}

/*
p{
  margin: 0;
  padding: 0;
   
  color: rgb(255,0,0);
}
*/
.container{
  height: 100%;
}

.flex-container {
  display: flex;
  position: relative;
  /* align-items: stretch; */
}

.profileBlock{
  position: relative;
  margin: 0px;
  margin-left: 0px;
  padding-left: 0px;
  width: 25%;
  min-width: 200px;
  max-width: 350px;
  /* height: 100vh; */
  height: calc(100vh - 50px);
  /* height: 100vh; */
  font-size: 40px;
  font-family: Metropolis;
  font-weight: bold;
  background: var(--green700);
  overflow-y:auto;
}

.page-container{
  position: relative;
  width: 100%;
  background: white;
  /* height: calc(100vh - 50px); */
  overflow-y:auto;
  
}

.page-content{
  position: absolute;
  top: 25px;
  /* bottom: 20%; */
  left: 8%;
  right: 8%;
  text-align: left;

  /* this is what i had before the centering article
  margin: 0;
  padding: auto;
  max-width: 80%;
  min-width: 200px;
  padding: 25px;
  
  text-align: left; */
}

.heading {
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  font-family: Metropolis;
  font-weight: bold;
  color: var(--green800);
}

.profileImage{
  margin: 15px;
  width: auto;
  height: auto;
}

.nameTitle{
  text-align: center;
  color: var(--gray100);
  font-size: 30px;
  font-family: Metropolis;
}

.personalLinks{
  padding: 0px;
  position: absolute;
  /*Glorious bit of css math to center the (left-aligned) text */
  padding-left: max(0px,(calc((min(100vw,1750px) - 1000px)/10)));
}
.personalLinksText{
  text-align: left;
  font-size: 25px;
  color: var(--gray100);
}

.customSvg{
  fill: var(--gray100);
}

.custFooter{
  margin: 0px;
  width: 100%;
  padding: 0px; 
  position: absolute;
  bottom: 0px;
  padding-bottom: 2px;
}

.custFooterText{
  font-size: 14px;
  font-family: Metropolis;
  font-weight: bold;
  color: white;  
  text-align: center;
}
